<script src="/assets/js/navbar.js" ></script>

<nav id="nav">
  <div id="bar-nav">
    <a href="/" id="logo">Technical Labs</a>
    <div id="nav-spacer" ></div>
    <span class="nav-link"><a href="/notes/2020/">2020 notes</a></span>
    <span class="nav-link"><a href="/notes/2021/">2021 notes</a></span>
  </div>

  <div id="dropdown-nav">
    <div id="dropdown-nav-bar">
      <a href="/" id="logo">Technical Labs</a>
      <div id="nav-spacer" ></div>
      <input type="checkbox" id="menu-icon">
      <label id="menu-label" for="menu-icon" onclick="handleDropdownToggle"></label>
    </div>

    <div id="dropdown-content">
      <span class="nav-link"><a href="/notes/2020/">2020 notes</a></span>
      <span class="nav-link"><a href="/notes/2021/">2021 notes</a></span>
    </div>
  </div>
</nav>
